

{% extends 'base.html' %} {% block body %}

<h1> My List of Friends </h1>
<hr />
<h3>Be my friend:</h3>
<form action="/add_friend" method="POST">

	<label for="fname">First name:</label>
	<input type="text" id="fname" name="fname" autofocus required/>
	<br />
	<label for="lname">Last name:</label>
	<input type="text" id="lname" name="lname" readonly />
	<br />
	<input type="submit" id="submit" value="I'll Be Your Friend" />
	<input type="reset" value="Clear" />

</form>
<br />
<br />
<h3>My Friends</h3>
<hr />
<br>
{% if friends %}
<h3>My Friends</h3>
<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>

  <tbody>
    {% for friend in friends %}
    <tr>
      <td>{{ friend.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
